*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(background1.jpg);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(100, 178, 246);
    flex-grow: 0.1;
}

header > form{
    display: flex;
    gap: 10px;
}

form > button{
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

form > input{
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

header > p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 166, 255);
    border-radius: 6px;
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 10px 5px;
    flex-grow: 1;
}

section > h1{
    display: flex;
    background-color: aquamarine;
    border-radius: 6px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 6;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 6px;
    padding: 10px;
}

#container > img{
    height: 550px;
    width: 550px;
    border-radius: 6px;
    border: 1px solid black;
}

#container > #texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 68px;
    font-size: x-large;
    padding: 10px;
}

#texto > p{
    border: 1px solid black;
    border-radius: 6px;
}

#button{
    display: flex;
    gap: 270px;
    border-radius: 6px;
}

#button > button{
    font-size: x-large;
}